@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&family=Unbounded:wght@500&display=swap');

body {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
}
#app {
  font-family: 'Short Stack', cursive;
  height: fit-content;
  width: fit-content;
  padding: 1vh;
  margin: auto;
}